/aset
/aZZ_DNK_Tribute.ttf
/fg.txt
/mini_test_.py
/mini_test_0.py
/test.py
/versions
/item_s.txt
/script/__pycache__
/__pycache__
/testu
/testu_2.py
/testu_2.py
/testu.py
/checkpoints
/proverka.txt
/Map_editor_.py
/Map_editor_0.py
/text